<div class="val_lg_main">
	<div class="val_lg_item">
		<img src="images/valdyra.png" class="val_lg_avatar" />
		<div class="val_lg_texte">
			<div class="val_lg_nom">Nom du personnage</div>
			<div class="val_lg_lien">Lien du personnage</div>
			<div class="val_lg_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non mauris eros. Fusce pulvinar at est ut scelerisque. Etiam vulputate lacus lorem, ac fermentum lectus tempor nec. Etiam fermentum quis magna vitae semper. Nam condimentum sit amet turpis eget posuere. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam mollis vel urna non gravida.</div>
		</div>
	</div>
	<div class="val_lg_item">
		<img src="images/kay_al_falhom.png" class="val_lg_avatar" />
		<div class="val_lg_texte">
			<div class="val_lg_nom">Nom du personnage</div>
			<div class="val_lg_lien">Lien du personnage</div>
			<div class="val_lg_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non mauris eros. Fusce pulvinar at est ut scelerisque. Etiam vulputate lacus lorem, ac fermentum lectus tempor nec. Etiam fermentum quis magna vitae semper. Nam condimentum sit amet turpis eget posuere. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam mollis vel urna non gravida.</div>
		</div>
	</div>
	<div class="val_lg_item">
		<img src="images/image.png" class="val_lg_avatar" />
		<div class="val_lg_texte">
			<div class="val_lg_nom">Nom du personnage</div>
			<div class="val_lg_lien">Lien du personnage</div>
			<div class="val_lg_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non mauris eros. Fusce pulvinar at est ut scelerisque. Etiam vulputate lacus lorem, ac fermentum lectus tempor nec. Etiam fermentum quis magna vitae semper. Nam condimentum sit amet turpis eget posuere. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam mollis vel urna non gravida.</div>
		</div>
	</div>
	<div class="val_lg_item">
		<img src="images/image.png" class="val_lg_avatar" />
		<div class="val_lg_texte">
			<div class="val_lg_nom">Nom du personnage</div>
			<div class="val_lg_lien">Lien du personnage</div>
			<div class="val_lg_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non mauris eros. Fusce pulvinar at est ut scelerisque. Etiam vulputate lacus lorem, ac fermentum lectus tempor nec. Etiam fermentum quis magna vitae semper. Nam condimentum sit amet turpis eget posuere. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam mollis vel urna non gravida.</div>
		</div>
	</div>
</div>
<style>
	:root {
		--gallery-height:711px;
		--gallery-width:100px;
		--gallery-border-width:2px;
	}

	body {
		font-family: 'Open Sans', sans-serif;
		background-color: var(--primary-bg-color);
	}

	* {
		/* Ensure sane sizing of all elements */
		box-sizing: border-box; 
	}

	.val_lg_main {
		width:calc((var(--gallery-width) + var(--gallery-border-width) * 2)*4);
		display: flex;
		flex-wrap:wrap;
		height: 100vh;

		.val_lg_item {
			display: flex;
			flex-direction: row;
			border:var(--gallery-border-width) solid var(--primary-border-color);
			max-height:calc((var(--gallery-width)*32/9) + var(--gallery-border-width) * 2);

			flex: 1 0 calc(var(--gallery-width) + var(--gallery-border-width) * 2); 

			/* Handles any clipping/overflow issues on transition */
			overflow: hidden;
			color: white;
			transition: flex-basis 500ms ease-in-out;

			.val_lg_avatar {
				width:var(--gallery-width);
				height:calc(var(--gallery-width)*32/9);
			}
		}

		.val_lg_texte {
			margin: 0;
			padding: 0;
			max-width:0%;
			opacity: 0;
			transition: all 500ms ease-in-out;
		}

		.val_lg_item:hover {
			flex-basis: calc(var(--gallery-width)*4);

			.val_lg_texte {
				opacity: 1;
				padding: 5px;
				max-width:100%;
			}  
		}
	}

	@media (min-width: 600px) {
		.val_lg_main {
			flex-direction: row;
		}
		
		.val_lg_item {
			flex-shrink: 1;
		}
	}
</style>
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"rel=stylesheet>
<link href=https://fonts.cdnfonts.com/css/norse rel=stylesheet>
<link href=https://jerrycow33.github.io/woa/new_valdyra_chrono.css rel=stylesheet>