.icon, .button .icon, blockquote cite:before, .uncited:before {
	display: inline-block;
	font-family: FontAwesome;
  	font-weight: normal;
  	font-style: normal;
  	font-variant: normal;
  	font-size: 14px;
  	line-height: 1;
  	text-rendering: auto; /* optimizelegibility throws things off #1094 */
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}