<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        :root {
            --jour: #C1A18B;
            --nuit: #2B2732;
            --jour2: #D9C6B9;
            --nuit2: #3C3942;
            --jour3: #9A7F6E;
            --nuit3: #211F25;
            --jour-texte: #151414;
            --nuit-texte: #E6E2E2;
        }

        body {
            background-color:var(--jour2);
        }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <!--<link href="https://jerrycow33.github.io/woa/seyna_rp.css" rel="stylesheet">-->
    <link href="../seyna_rp.css" rel="stylesheet">
</head>
<body class="night-mode">
<seynawrapper><!--
--><seynaside></seynaside><!--
--><seynatitle>Ramure sanglante<span>Feat. Skuld</span></seynatitle><!--
--><seynamain>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin felis quis sem feugiat, at maximus turpis dignissim. Donec eu porttitor enim, vitae pellentesque mauris. Nulla pulvinar, justo at fermentum tincidunt, purus quam rutrum purus, eget scelerisque dolor leo vulputate nibh. Aliquam porttitor efficitur mattis. Nam convallis mattis volutpat. Fusce euismod vitae tellus vel aliquam. Integer interdum tempor convallis.

Nullam ac vehicula urna. Curabitur velit urna, posuere eget maximus sit amet, tincidunt nec est. Nam ultrices ultricies nibh, id volutpat mauris commodo nec. Nulla ornare ultrices ante, a varius eros feugiat vitae. Nam quis maximus ante, eget feugiat est. Aliquam vel molestie dolor. Sed ultrices neque hendrerit, vehicula libero eu, venenatis turpis. Duis ut ante diam. Quisque dictum consequat dui, non ornare mi porttitor eu. Integer at magna eget libero malesuada ornare. Fusce quis semper neque, ac ultricies leo. Sed congue maximus imperdiet. Aenean at magna vitae dui interdum bibendum ut a lorem.

<seyna>Bon, on fait un test<i>, maugréa la chamane.</i></seyna>
<default><img class="seynaperso" src="https://zupimages.net/up/26/10/otwo.jpg"><nomperso>Barman</nomperso>Allez, c'est parti<i>, répondit le danseur en souriant.</i></default>

Etiam ac quam dapibus, ultricies mauris eget, sollicitudin nisi. Aenean faucibus augue nunc, quis scelerisque ex aliquet euismod. Suspendisse potenti. In eget mi imperdiet, accumsan nulla nec, aliquet nisi. Curabitur vitae diam ex. Morbi fringilla neque leo, at dignissim ipsum egestas ac. Phasellus ut vestibulum erat. Nulla vitae venenatis nibh, sed egestas ligula.

Donec et sagittis nisl. Sed quis augue non nulla faucibus tempor. Morbi vel metus sollicitudin, laoreet risus in, bibendum libero. Mauris ut congue odio. Aliquam erat volutpat. Nulla malesuada faucibus mollis. Vestibulum non lacus fringilla, sagittis diam condimentum, convallis massa. Morbi eu risus quis nulla feugiat feugiat eu vel sem. Sed laoreet mattis ante, ullamcorper eleifend urna tempor a. Sed ut sodales sem, eget mollis augue. Pellentesque congue elementum magna a ullamcorper. Maecenas faucibus consequat dolor at sodales. Maecenas eu volutpat metus, eu dapibus ligula. Suspendisse condimentum interdum nulla, a egestas nulla tincidunt eget.

Duis commodo lacus quis justo venenatis hendrerit rutrum in mi. Fusce lobortis nisl quis orci posuere vestibulum. Integer non nibh sit amet nisi tristique condimentum vel vel risus. Nam id aliquam nisl. Donec id efficitur tellus. In ullamcorper nisi nec lectus commodo, non scelerisque orci cursus. Donec porttitor sit amet dui vitae molestie. Duis sagittis nibh sed maximus luctus. Ut non arcu sit amet nulla mollis scelerisque et et dolor. Nam justo tellus, placerat at sodales vitae, ornare ac diam. Cras eu pharetra massa. Suspendisse facilisis sapien risus, in convallis arcu vehicula non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</seynamain><!--
--></seynawrapper>
  
</body>
</html>




