<style>.perso_tabonglets{display:flex;} a.perso_label{margin:5px;padding:10px;border-radius:5px;border:1px solid brown;color:brown;background-color:transparent;font-weight:bold;font-size:16px;text-decoration:none;} .perso_wrapper{position:relative;} #luther, #legion{display:none;position:absolute;top:0;left:0;} #luther{display:block;} a.perso_label:target{display:block;}</style>
<div class="perso_tabonglets"><a class="perso_label" href="#luther">Luther Kay</a><a class="perso_label" href="#legion">Legion</a></div><div class="perso_wrapper"><div id="luther"><img src="https://cdn.midjourney.com/beb7915f-b066-4053-b456-27dbb1ad111f/0_1.png" style="width:150px;float:left;margin-right:10px;" alt="Luther Kay" />[b]Nom[/b] : Luther Kay
[b]Surnoms[/b] : "The Red Wolf"
[b]Taille[/b] : 6'9 (2m06)
[b]Poids[/b] : 295 lbs (134 kg)
[b]Age[/b] : 46 ans (née le 29 août 1979)
[b]From[/b] : Glasgow, Ecosse
[b]Disposition[/b] : Tweener/Face

[b]Description physique[/b]
L'âge et l'expérience a fait son temps, le visage est plus marqué. Mais ses expressions faciales demeurent bien ancrés, et souvent inquiétants. Il affiche une chevelure mi-longue et bouclée, et une barbe de trous jours. Cigarette au bec, il a ce regard indéfinissable mais très expressif lorsqu'il te fixe des yeux avec les sourcils froncés. Au combat, il est revêtu d'un T-Shirt noir uni à manches courtes, voire d'un débardeur de même couleur, sur lequel est apposé à l'avant la tête d'un loup menaçant aux yeux rouge, et à l'arrière les mots "WOLVES ARE HUNGRY" également en rouge. Il porte aussi un jean noir, ainsi que de bottes noires et des mitaines en cuir noir. Pendant son entrée, il s'affuble aussi d'un trenchcoat de même couleur et de lunettes de soleil Ray Ban. Bien souvent, il apporte sa fameuse batte barbelée "Bloody Mary", signe de son amour pour le hardcore.

<div style="clear:both;"></div>[b]Thème d'entrée[/b] : 
<iframe src="https://suno.com/embed/795c7b5c-8e0c-4526-8f2d-192518e41765" width="760" height="240"><a href="https://suno.com/song/795c7b5c-8e0c-4526-8f2d-192518e41765">Listen on Suno</a></iframe>

[b]Finishing moves[/b]
- [b][i]Wolf Bite[/i][/b] : Running Bicycle Kick. C'est le finisher principal de Luther, qu'il peut décocher n'importe quand, même à courte distance.
- [b][i]Blackout[/i][/b] : Full Nelson combiné avec un Vice Grip. C'est un finisher qu'il avait en commun avec son défunt frère.

[b]Trademarks[/b]
(qu'il fait avant n'importe quel Finisher)
- [b][i]Gun Shot[/i][/b] : F-5, utilisé aussi souvent que le Wolf Bite. Ancien finisher de Luther, qu'il utilise désormais comme annonciateur de son Blackout.
- [b][i]Hand of Darkness[/i][/b] : Chokeslam, qu'il tient, si possible, longtemps en l'air d'une seule main. Précède souvent le Wolf Bite ou le Blackout.
- [b][i]Hell Storm[/i][/b] : Black Hole Slam, utilisé généralement en contre.
- [b][i]Howling Spear[/i][/b] : lorsqu'il est projeté dans un coin, il bondit sur ce coin au niveau de la troisième corde, fait rapidement demi-tour et effectue un Spear en piqué. Cette manœuvre n'est utilisée qu'en contre.

[b]Moveset[/b]
Luther est un lutteur agressif et Powerhouse dans l'âme, avec pas mal de mouvements de contres. Mais une expérience passée dans le MMA lui permet d'allier ce style avec du Mat Wrestling et des coups directs.

[b][i]Attaques[/i][/b] :
- Throat thrust
- Big Boot
- 3 Headbutts in a row
- Elbow Drop
- Leg Drop
- Forehand Chop
- Stinger Splash
- Spear
- Roundhouse Kick

[b][i]Projections[/i][/b] :
- Spinebuster
- Sidewalk Slam
- Powerslam
- Cradle Piledriver
- Backbreaker
- Fallaway Slam
- Full Nelson Slam
- Running Powerslam
- Kneeling Backbreaker Rack Drop
- Curb Stomp

[b][i]Soumissions[/i][/b] :
- Dragon Sleeper
- Two Handed Chokelift
- Elevated Cloverleaf
- Brock Lock
- Triangle Choke

[b][i]High Fly[/i][/b] (assez rare) :
- Diving Clotheline
- Suicide Dive

[b][i]Contre-attaques[/i][/b] :
- Big Boot

[b]Comportement au ring[/b]
Luther demeure un lutteur agressif et implacable sur le ring. Spécialisé dans le Hardcore, il sait utiliser son environnement comme autant d'armes qu'il le désire. Powerhouse dans l'âme, son passé en MMA lui permet quelques mouvements d'attaque du pied ainsi que le travail au sol. Il n'hésite pas à recourir à des techniques illégales si le besoin s'en fait sentir, notamment en utilisant sa fidèle batte barbelée Bloody Mary.

[b]Stipulations favorites[/b]
- Dark Chamber Match
- Inferno Match
- Les stipulations Hardcore en général
- Butcher's Party

[b]Stipulations craintes[/b]
- Ladder Match, il n'est pas très à l'aise sur ce type de match.

[b]Palmarès à la FGB[/b]
- 21/10/2011 : Premier vainqueur du Butcher's Party
- 01/05/2012 : Titre suprême
- 10/07/2012 : Vainqueur du Only One Survive
- 23/04/2019 : Titre Tag Team (avec Elena Irons)
- 30/07/2019 : Titre Tag Team (avec Elena Irons)
- 26/08/2025 : Titre suprême</div><div id="legion"><img src="https://zupimages.net/up/25/48/5sol.png" style="width:150px;float:left;margin-right:10px;" alt="Legion" />[b]Nom[/b] : Legion
[b]Surnoms[/b] : "Le Roi Noir", "Le Démon", "Le Maître des Ténèbres"
[b]Taille[/b] : 6'9 (2m06)
[b]Poids[/b] : 295 lbs (134 kg)
[b]Age[/b] : Indéterminé
[b]From[/b] : Hell 
[b]Disposition[/b] : Monster Heel

[b]Description physique[/b]
Possédant le corps de Luther Kay, Legion a forcément la même apparence physique. Cependant il se distingue de son hôte par la noirceur de ses yeux, et par ses vêtements plus sombres et distinctifs, composés notamment d'une tunique couvrant tout le buste, des gants, un pantalon ainsi que des bottes, tous de cuir noir. Il porte parfois Bloody Mary, la batte barbelée de Luther, pour des mind games concernant la famille de Luther de même qu'Elena Irons.

<div style="clear:both;"></div>[b]Thème d'entrée[/b] : 
<iframe src="https://suno.com/embed/795c7b5c-8e0c-4526-8f2d-192518e41765" width="760" height="240"><a href="https://suno.com/song/795c7b5c-8e0c-4526-8f2d-192518e41765">Listen on Suno</a></iframe>

[b]Finishing moves[/b]
- [b][i]Hand of Darkness[/i][/b] : Chokeslam, qu'il tient, si possible, longtemps en l'air d'une seule main. Précède parfois le Blackout.
- [b][i]Dark Tower[/i][/b] : Un Texas Tower Bomb qu'il tient longtemps en l'air.
- [b][i]Blackout[/i][/b] : Full Nelson combiné avec un Vice Grip. C'est un finisher qu'il avait en commun avec son défunt frère.

[b]Trademarks[/b]
(qu'il fait avant n'importe quel Finisher)
- [b][i]Hell Storm[/i][/b] : Black Hole Slam, utilisé généralement en contre.
- [b][i]Dark Spear[/i][/b] : lorsqu'il est projeté dans un coin, il bondit sur ce coin au niveau de la troisième corde, fait rapidement demi-tour et effectue un Spear en piqué. Cette manœuvre n'est utilisée qu'en contre.
- Pour se moquer de son adversaire, il lui arrive souvent de copier son propre finisher avant de placer le sien.

[b]Moveset[/b]
Luther est un lutteur agressif et Powerhouse dans l'âme, avec pas mal de mouvements de contres. Mais une expérience passée dans le MMA lui permet d'allier ce style avec du Mat Wrestling et des coups directs.

[b][i]Attaques[/i][/b] :
- Throat thrust
- Big Boot
- 3 Headbutts in a row
- Elbow Drop
- Leg Drop
- Forehand Chop
- Stinger Splash
- Spear
- Short range Clotheline
- Running Clotheline
- Spinning Back Hand

[b][i]Projections[/i][/b] :
- Spinebuster
- Sidewalk Slam
- Powerslam
- Cradle Piledriver
- Backbreaker
- Fallaway Slam
- Full Nelson Slam
- Running Powerslam
- Curb Stomp
- Flapjack

[b][i]Soumissions[/i][/b] :
- Two Handed Chokelift
- Brock Lock
- Testicular Claw (illégal)
- Butterfly Hold
- Bear Hug

[b][i]High Fly[/i][/b] (assez rare) :
- Diving Clotheline
- Suicide Dive

[b][i]Contre-attaques[/i][/b] :
- Big Boot

[b]Comportement au ring[/b]
Legion veut faire mal et il le fait savoir par autant de techniques de powerhouse que des mouvements de soumission. Il n'hésite pas à user et abuser des techniques de Heel, et en règle générale est très agressif dans le ring. Comble du cynisme, il n'hésite pas non plus à copier certains moves de son adversaire, et notamment ses taunts et trademarks. Cependant, il reste un lutteur réfléchi dans son agressivité, fourbe dans ses actes.

[b]Stipulations favorites[/b]
- Dark Chamber Match (gimmick match de Legion)
- Imprisoned Gore match (gimmick match de Legion)
- Hell's Clockwork match (gimmick match de Legion)
- Inferno Match
- Les stipulations Hardcore en général
- Butcher's Party

[b]Stipulations craintes[/b]
- Ladder Match, il n'est pas très à l'aise sur ce type de match.

[b]Palmarès à la FGB[/b]
- 12/04/2009 : Titre Vice champion
- 22/09/2009 : Titre Vice champion
- 27/08/2013 : Titre suprême
- 13/10/2015 : Titre Tag Team (avec Tigerclaw)</div></div>