<div class="torrp_wrapper_white"><div class="torrp_vbanner"></div><div class="torrp_hbanner"><div class="torrp_title">Sous les nuages gris de Liberty</div><div class="torrp_feat">Feat. Elia Steren</div></div><div class="torrp_main">

Son nom est Brynn Larker. Un homme à la petite trentaine. Un physique sans particularités accrochant le regard. Le mètre soixante-dix bien tassé. Barbe rasée de près. Regard fureteur. Cheveux noirs coupés courts. Aucune cicatrice visible. Aucun tic de langage. Aucune claudication. Vêtements banals. Aucun signe apparent de richesse. Rien de distinctif. Un homme comme un autre, un citoyen de la République, pouvant facilement se mêler à la plèbe. Un homme sans histoire et sans dossier. Sans casseroles et sans amourettes. L'on pourrait le prendre pour un manouvrier, travaillant assez pour s'offrir un repas décent, régler le loyer mensuel de son appartement, et économiser pour payer ses impôts. Cet homme n'attire aucune attention. Aucun geste déplacé. Juste ce qu'il faut d'amabilité. Un bonjour, un merci, un au revoir.

Un homme sans histoire. Les habitants de Liberty le pensent sans le discerner.
Tor, elle, l'a remarqué.

Son œil valide scrute la bourse bien remplie posée sur le comptoir de sa modeste armurerie. Puis le client. Son visage lui est parfaitement étranger. Il arbore un léger sourire. Celui d'un homme suffisant, en contraste avec l'apparence moyenne affichée devant elle. L'œil de l'orque de nouveau braqué sur le lourd pécule. Il souhaite remplacer sa dague, se trouver une nouvelle arme plus robuste, plus équilibrée. Annonce qu'il peut payer un supplément pour acheter sa discrétion. Le jaune de son œil bifurque sur l'individu. Laisse un instant de silence. L'homme insiste, dévoilant le contenu de sa bourse devant elle.

<div class="tor_dial tor">…</div>

Elle ne prononce pas un mot. Elle n'en est pas capable. Bloc-note en main, elle demande à son client de voir sa précédente dague. Se faire une idée du style de son arme actuelle. De quel alliage, sa forme, son équilibre. Il refuse. Tor insiste, griffonnant les raisons de sa demande. Il réfléchit. La forgeronne remarque un brin d'agacement dans le coin de son œil droit. Il n'aime pas rencontrer un obstacle, contredire ses propos. Il finit par céder, sortant la dague de sa ceinture, engoncée dans son fourreau. L'homme tend l'arme à la forgeronne. Tor la dégaine, scrute le pommeau, la garde, le fil de la lame. Petite, équilibrée. Facilement escamotable. Abimée, quelques ébréchures. Rien qui ne justifie de remplacer cette dague.

<div class="tor_dial tor">…</div>
<div class="tor_dial default">Il y a un problème, madame ? Je veux juste une nouvelle dague.</div>

Elle griffonne à nouveau sur une page de son calepin porté autour de son cou. Annonce qu'elle a une dague correspondant à ses attentes. Ajoute son prix. Et demande ce qu'il compte faire de son ancienne arme.

<div class="tor_dial default">Si je vous la donne, vous me faites un prix ?</div>
<div class="tor_dial tor">…</div>

Une autre étude de l'arme usée. Quelque chose cloche chez cet homme. Il paraît bien sûr de lui sous ses airs d'habitant modèle. Sa bourse, bien trop rempli. Tor accepte de baisser son prix si elle garde l'arme. L'homme est ravi et tend la main pour sceller la transaction. Elle la serre. Va chercher la nouvelle dague, et la pose sur le comptoir. Le client dépose la somme convenue. Teste l'équilibre de l'arme, regarde son tranchant. Il salue la forgeronne et sort de la boutique. Il semble satisfait de son achat. Tor aussi.

Car il ne le savait pas encore, mais il vient de faire une erreur. Une erreur qui le mènera à sa chute.

<hr>

Les objets ont une histoire. Des souvenirs gravés dans la matière. Ceux de leur utilisation, de la manière dont leurs propriétaires les maîtrise, comment ils ont fini. Entre de bonnes mains, ils racontent de belles choses. Dans de mauvaises mains, ils s'imprègnent de leurs méfaits.

La dague de Brynn suintait les souvenirs bercés de douleur et de sang. Le sang d'un autre. L'individu n'est pas ce qu'il prétend être. Il cache nombre d'exactions au nez et à la barbe de toute la cité. Au détour d'une conversation, un soir où Tor venait de terminer sa journée de travail, elle l'a entendu se satisfaire de sa suffisance. Offre la tournée. Discute en messes basses. L'oreille de la forgeronne capte des bribes. Un jour. Un lieu. Une cible. Un pactole à la clé. Brynn s'avère être un bandit. Un roublard que jamais les autorités n'ont mis la main dessus. Un malfrat libre comme l'air, sous couvert de l'anonymat d'un homme sans histoire. Il a déjà blessé. Il a même tué. Son ancienne dague lui a montré des vestiges de certains de ses récents méfaits. Le sang d'un autre, celui d'un innocent dont la seule faute a été de croiser sa route avec une bourse bien visible.

Souvenirs flous de cette arme, un mot en est ressorti, attirant d'autant l'attention de Tor. Pègre. Brynn ne bosse pas à son compte. Il agit pour celui d'un autre. Ce soir, elle va l'arrêter. Ce soir, elle va l'interroger. Lui faire cracher le nom de son commanditaire. Sa branche du crime. Toute information reliée de près ou de loin à la pègre.

Le silence d'une nuit. Brynn était flou sur la destination précise. Tor, sous le masque de l'Ombre Rouge, le traque. Le piste. Le file à distance. Dans les ruelles. Sur les toits. Il ne presse pas le pas. Démarche assurée, œil vigilant. Il s'assure que personne ne le suit. Mais Tor, discret comme l'ombre, s'accroche à sa silhouette. S'approche du lieu du drame. Il porte un grand sac. S'apprête à passer à l'acte.

Une odeur. Etrangère. Une autre présence. Tor ne la voit pas. Quelqu'un d'autre est sur les lieux. Caché. Vigilance accrue, la justicière scrute autour d'elle. Un cliquetis. Brynn est passé à l'acte, crochetant la porte d'entrée d'une maison de ce quartier résidentiel dont les occupants dormaient à poings fermés. Il semble avoir choisi cette masure dans un but précis. Aucun geste hasardeux. Il sait ce qu'il fait.

Elle observe, prête à agir. Elle attend le flagrant délit d'un homme aux possessions pleines. Encombré jusqu'à la moëlle pour mieux l'appréhender. Mais l'autre présence l'inquiète. Ami ou ennemi ? Ombre de passage, ou acteur de la mascarade ? Brynn n'a pas mentionné le nom de comparse. Et jusqu'à présent, il a marché seul. Tor garde son calme, sa concentration.

Brynn ne doit pas s'échapper à si bon compte.

</div><div class="torrp_footer"></div></div>
<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Distressed&family=Saira:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<!--<link href='https://jerrycow33.github.io/woa/new_valdyra_rp.css' rel='stylesheet' type='text/css' />-->
<link href='../new_valdyra_rp.css' rel='stylesheet' type='text/css' />