<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="woa_valdyra_conteneur">
        <div class="woa_valdyra_titre_principal">Valdyra</div>
        <div class="woa_valdyra_banner">
            <img src="https://zupimages.net/up/21/42/4lsv.jpg">
        </div>
        <div class="woa_valdyra_titre_citation">Géante du Grand Nord, fille du froid et des montagnes</div>
        <div class="woa_chrono_fond">
            <div class="woa_newchrono_titre">Amitiés, connaissances et ennemis</div>
            <br>
            <div class="woa_valdyra_newchrono_tabonglets">
                <input class="woa_valdyra_newchrono_input" id="woa_valdyra_newchrono_tab1" name="woa_valdyra_newchrono_tabs" type="radio" checked>
                <label class="woa_valdyra_newchrono_label" for="woa_valdyra_newchrono_tab1">Liens amicaux</label>
                <input class="woa_valdyra_newchrono_input" id="woa_valdyra_newchrono_tab2" name="woa_valdyra_newchrono_tabs" type="radio">
                <label class="woa_valdyra_newchrono_label" for="woa_valdyra_newchrono_tab2">Liens neutres</label>
                <input class="woa_valdyra_newchrono_input" id="woa_valdyra_newchrono_tab3" name="woa_valdyra_newchrono_tabs" type="radio">
                <label class="woa_valdyra_newchrono_label" for="woa_valdyra_newchrono_tab3">Liens hostiles</label>
                <input class="woa_valdyra_newchrono_input" id="woa_valdyra_newchrono_tab4" name="woa_valdyra_newchrono_tabs" type="radio">
                <label class="woa_valdyra_newchrono_label" for="woa_valdyra_newchrono_tab4">Liens archivés</label>
                <br>
                <br>
                <!-- DEBUT BLOC LIENS -->
                <div class="woa_valdyra_newchrono_tab woa_valdyra_newchrono_content1">
                    <div class="woa_valdyra_titre">Liens amicaux</div>
                    <!-- DEBUT LIENS -->
                    <div class="woa_newchrono_texte woa_valdyra_norp">Aucun lien</div>
                    <!-- FIN LIENS -->
                </div>
                <!-- FIN BLOC LIENS -->
                <!-- DEBUT BLOC LIENS -->
                    <div class="woa_valdyra_newchrono_tab woa_valdyra_newchrono_content2">
                    <div class="woa_valdyra_titre">Liens neutres</div>
                    <!-- DEBUT LIENS -->
                    <div class="woa_valdyra_lienscontainer">
                        <!-- DEBUT GALERIE -->
                        <div class="gallery">
                        <!-- DEBUT ITEM -->
                        <div class="gallery-item reike">
                            <img src="https://zupimages.net/up/25/10/2vw3.png" alt="Kilaea Sliabh">
                            <div class="gallery-perso">
                            <div class="gallery-titre">
                                <div class="gallery-nom">Kilaea Sliabh</div>
                                <div class="gallery-lien">Soldate reikoise</div>
                            </div>
                            <div class="gallery-desc">A venir</div>
                            </div>
                        </div>
                        <!-- FIN ITEM -->
                        <!-- DEBUT ITEM -->
                        <div class="gallery-item autres">
                            <img src="https://zupimages.net/up/25/10/vpcv.png" alt="Neris Pelagion">
                            <div class="gallery-perso">
                            <div class="gallery-titre">
                                <div class="gallery-nom">Neris Pelagion</div>
                                <div class="gallery-lien">Vagabonde</div>
                            </div>
                            <div class="gallery-desc">A venir</div>
                            </div>
                        </div>
                        <!-- FIN ITEM -->
                        <!-- DEBUT ITEM -->
                        <div class="gallery-item repu">
                            <img src="https://zupimages.net/up/25/11/coxn.png" alt="Gula">
                            <div class="gallery-perso">
                            <div class="gallery-titre">
                                <div class="gallery-nom">Gula</div>
                                <div class="gallery-lien">Marchand</div>
                            </div>
                            <div class="gallery-desc">A venir</div>
                            </div>
                        </div>
                        <!-- FIN ITEM -->
                        <!-- DEBUT ITEM -->
                        <div class="gallery-item autres">
                            <img src="https://zupimages.net/up/25/11/ap42.png" alt="Priam Azellus">
                            <div class="gallery-perso">
                            <div class="gallery-titre">
                                <div class="gallery-nom">Priam Azellus</div>
                                <div class="gallery-lien">Barde</div>
                            </div>
                            <div class="gallery-desc">A venir</div>
                            </div>
                        </div>
                        <!-- FIN ITEM -->
                        <!-- DEBUT ITEM -->
                        <div class="gallery-item reike">
                            <img src="https://zupimages.net/up/25/11/pp0k.png" alt="Lyra Leezen">
                            <div class="gallery-perso">
                            <div class="gallery-titre">
                                <div class="gallery-nom">Lyra Leezen</div>
                                <div class="gallery-lien">Tovyr de Kyouji</div>
                            </div>
                            <div class="gallery-desc">A venir</div>
                            </div>
                        </div>
                        <!-- FIN ITEM -->
                        </div>
                        <!-- FIN GALERIE -->
                    </div>
                    <!-- FIN LIENS -->
                </div>
                <!-- FIN BLOC LIENS -->
                <!-- DEBUT BLOC LIENS -->
                <div class="woa_valdyra_newchrono_tab woa_valdyra_newchrono_content3">
                    <div class="woa_valdyra_titre">Liens hostiles</div>
                    <!-- DEBUT LIENS -->
                    <div class="woa_newchrono_texte woa_valdyra_norp">Aucun lien</div>
                    <!-- FIN LIENS -->
                </div>
                <!-- FIN BLOC LIENS -->
                <!-- DEBUT BLOC LIENS -->
                <div class="woa_valdyra_newchrono_tab woa_valdyra_newchrono_content4">
                    <div class="woa_valdyra_titre">Liens archivés</div>
                    <!-- DEBUT LIENS -->
                    <div class="woa_newchrono_texte woa_valdyra_norp">Aucun lien</div>
                    <!-- FIN LIENS -->
                </div>
                <!-- FIN BLOC LIENS -->
            </div>
            <div class="woa_ava_modif">MISE À JOUR : 10/03/2025</div>
        </div>
    </div>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel=stylesheet>
    <link href=https://fonts.cdnfonts.com/css/norse rel=stylesheet>
    <link href=../../new_valdyra_chrono.css rel=stylesheet>
</body>
</html>

