:root {
	--magie-eau-color:#2b90b6;
	--magie-air-color:#a1c8d3;
	--magie-feu-color:#d74415;
	--magie-terre-color:#906026;
	--magie-foudre-color:#da9700;
	--magie-glace-color:#4d889e;
	--magie-nature-color:#5c7e18;
	--magie-metal-color:#9a9276;
	--magie-lumiere-color:#fede60;
	--magie-ombre-color:#a57fa4;
	--magie-feu_divin-color:#cabf00;
	--magie-ombre_givre-color:#b864e3;
}

.labels_magie {
	width:667px;
	margin:auto;
	display:grid;
	grid-template-columns: repeat(13, 40px);
	justify-content: center;
	margin-bottom:20px;
}

.labels_magie label {
	cursor:pointer;
}

.labels_magie img {
	max-width:40px;
}

.kay_check {
	display:none;
}

hr {
	border:0px;
	border-top:1px solid #cccccc;
}

.kay_titre {
	background-color:#cccccc;
	font:24px "Bebas Neue";
	color:#282828;
	margin:0px;
	padding:15px;
	border-radius:5px;
}

.kay_defaut,
.kay_eau,
.kay_air,
.kay_feu,
.kay_terre,
.kay_foudre,
.kay_glace,
.kay_nature,
.kay_metal,
.kay_lumiere,
.kay_ombre,
.kay_feu_divin,
.kay_ombre_givre {
	display:none;
	border-radius:10px;
}

.fiche_rpc_prez_d_ava {
	border-radius:10px;
}

#kay_defaut:checked ~ .fiche_rpc_prez_d .kay_defaut,
#kay_eau:checked ~ .fiche_rpc_prez_d .kay_eau,
#kay_air:checked ~ .fiche_rpc_prez_d .kay_air,
#kay_feu:checked ~ .fiche_rpc_prez_d .kay_feu,
#kay_terre:checked ~ .fiche_rpc_prez_d .kay_terre,
#kay_foudre:checked ~ .fiche_rpc_prez_d .kay_foudre,
#kay_glace:checked ~ .fiche_rpc_prez_d .kay_glace,
#kay_nature:checked ~ .fiche_rpc_prez_d .kay_nature,
#kay_metal:checked ~ .fiche_rpc_prez_d .kay_metal,
#kay_lumiere:checked ~ .fiche_rpc_prez_d .kay_lumiere,
#kay_ombre:checked ~ .fiche_rpc_prez_d .kay_ombre,
#kay_feu_divin:checked ~ .fiche_rpc_prez_d .kay_feu_divin,
#kay_ombre_givre:checked ~ .fiche_rpc_prez_d .kay_ombre_givre {
	display:block;
}

#kay_eau:checked {
	&  ~ .fiche_rpc_g .fiche_rpc_g_title {
		color:var(--magie-eau-color) !important
	}

	&  ~ .fiche_rpc_prez_d .fiche_rpc_prez_champs span{
		color:var(--magie-eau-color) !important
	}

	&  ~ .fiche_rpc_prez_d h1{
		color:var(--magie-eau-color) !important
	}

	&  ~ .fiche_rpc_prez_enbas span{
		color:var(--magie-eau-color) !important
	}

	&  ~ .fiche_rpc_prez_enbas h2{
		color:var(--magie-eau-color) !important
	}

	&  ~ .fiche_rpc_prez_d hr {
		border-top:1px solid var(--magie-eau-color);
	}
	
	&  ~ .fiche_rpc_prez_d .kay_titre {
		background-color:var(--magie-eau-color);

	}
}

#kay_air:checked {
	&  ~ .fiche_rpc_g .fiche_rpc_g_title {
		color:var(--magie-air-color) !important
	}

	&  ~ .fiche_rpc_prez_d .fiche_rpc_prez_champs span{
		color:var(--magie-air-color) !important
	}

	&  ~ .fiche_rpc_prez_d h1{
		color:var(--magie-air-color) !important
	}

	&  ~ .fiche_rpc_prez_enbas span{
		color:var(--magie-air-color) !important
	}

	&  ~ .fiche_rpc_prez_enbas h2{
		color:var(--magie-air-color) !important
	}

	&  ~ .fiche_rpc_prez_d hr {
		border-top:1px solid var(--magie-air-color);
	}
	
	&  ~ .fiche_rpc_prez_d .kay_titre {
		background-color:var(--magie-air-color);

	}
}

#kay_feu:checked {
	&  ~ .fiche_rpc_g .fiche_rpc_g_title {
		color:var(--magie-feu-color) !important
	}

	&  ~ .fiche_rpc_prez_d .fiche_rpc_prez_champs span{
		color:var(--magie-feu-color) !important
	}

	&  ~ .fiche_rpc_prez_d h1{
		color:var(--magie-feu-color) !important
	}

	&  ~ .fiche_rpc_prez_enbas span{
		color:var(--magie-feu-color) !important
	}

	&  ~ .fiche_rpc_prez_enbas h2{
		color:var(--magie-feu-color) !important
	}

	&  ~ .fiche_rpc_prez_d hr {
		border-top:1px solid var(--magie-feu-color);
	}
	
	&  ~ .fiche_rpc_prez_d .kay_titre {
		background-color:var(--magie-feu-color);

	}
}

#kay_terre:checked {
	&  ~ .fiche_rpc_g .fiche_rpc_g_title {
		color:var(--magie-terre-color) !important
	}

	&  ~ .fiche_rpc_prez_d .fiche_rpc_prez_champs span{
		color:var(--magie-terre-color) !important
	}

	&  ~ .fiche_rpc_prez_d h1{
		color:var(--magie-terre-color) !important
	}

	&  ~ .fiche_rpc_prez_enbas span{
		color:var(--magie-terre-color) !important
	}

	&  ~ .fiche_rpc_prez_enbas h2{
		color:var(--magie-terre-color) !important
	}

	&  ~ .fiche_rpc_prez_d hr {
		border-top:1px solid var(--magie-terre-color);
	}
	
	&  ~ .fiche_rpc_prez_d .kay_titre {
		background-color:var(--magie-terre-color);

	}
}

#kay_foudre:checked {
	&  ~ .fiche_rpc_g .fiche_rpc_g_title {
		color:var(--magie-foudre-color) !important
	}

	&  ~ .fiche_rpc_prez_d .fiche_rpc_prez_champs span{
		color:var(--magie-foudre-color) !important
	}

	&  ~ .fiche_rpc_prez_d h1{
		color:var(--magie-foudre-color) !important
	}

	&  ~ .fiche_rpc_prez_enbas span{
		color:var(--magie-foudre-color) !important
	}

	&  ~ .fiche_rpc_prez_enbas h2{
		color:var(--magie-foudre-color) !important
	}

	&  ~ .fiche_rpc_prez_d hr {
		border-top:1px solid var(--magie-foudre-color);
	}
	
	&  ~ .fiche_rpc_prez_d .kay_titre {
		background-color:var(--magie-foudre-color);

	}
}

#kay_glace:checked {
	&  ~ .fiche_rpc_g .fiche_rpc_g_title {
		color:var(--magie-glace-color) !important
	}

	&  ~ .fiche_rpc_prez_d .fiche_rpc_prez_champs span{
		color:var(--magie-glace-color) !important
	}

	&  ~ .fiche_rpc_prez_d h1{
		color:var(--magie-glace-color) !important
	}

	&  ~ .fiche_rpc_prez_enbas span{
		color:var(--magie-glace-color) !important
	}

	&  ~ .fiche_rpc_prez_enbas h2{
		color:var(--magie-glace-color) !important
	}

	&  ~ .fiche_rpc_prez_d hr {
		border-top:1px solid var(--magie-glace-color);
	}
	
	&  ~ .fiche_rpc_prez_d .kay_titre {
		background-color:var(--magie-glace-color);

	}
}

#kay_nature:checked {
	&  ~ .fiche_rpc_g .fiche_rpc_g_title {
		color:var(--magie-nature-color) !important
	}

	&  ~ .fiche_rpc_prez_d .fiche_rpc_prez_champs span{
		color:var(--magie-nature-color) !important
	}

	&  ~ .fiche_rpc_prez_d h1{
		color:var(--magie-nature-color) !important
	}

	&  ~ .fiche_rpc_prez_enbas span{
		color:var(--magie-nature-color) !important
	}

	&  ~ .fiche_rpc_prez_enbas h2{
		color:var(--magie-nature-color) !important
	}

	&  ~ .fiche_rpc_prez_d hr {
		border-top:1px solid var(--magie-nature-color);
	}
	
	&  ~ .fiche_rpc_prez_d .kay_titre {
		background-color:var(--magie-nature-color);

	}
}

#kay_metal:checked {
	&  ~ .fiche_rpc_g .fiche_rpc_g_title {
		color:var(--magie-metal-color) !important
	}

	&  ~ .fiche_rpc_prez_d .fiche_rpc_prez_champs span{
		color:var(--magie-metal-color) !important
	}

	&  ~ .fiche_rpc_prez_d h1{
		color:var(--magie-metal-color) !important
	}

	&  ~ .fiche_rpc_prez_enbas span{
		color:var(--magie-metal-color) !important
	}

	&  ~ .fiche_rpc_prez_enbas h2{
		color:var(--magie-metal-color) !important
	}

	&  ~ .fiche_rpc_prez_d hr {
		border-top:1px solid var(--magie-metal-color);
	}
	
	&  ~ .fiche_rpc_prez_d .kay_titre {
		background-color:var(--magie-metal-color);

	}
}

#kay_lumiere:checked {
	&  ~ .fiche_rpc_g .fiche_rpc_g_title {
		color:var(--magie-lumiere-color) !important
	}

	&  ~ .fiche_rpc_prez_d .fiche_rpc_prez_champs span{
		color:var(--magie-lumiere-color) !important
	}

	&  ~ .fiche_rpc_prez_d h1{
		color:var(--magie-lumiere-color) !important
	}

	&  ~ .fiche_rpc_prez_enbas span{
		color:var(--magie-lumiere-color) !important
	}

	&  ~ .fiche_rpc_prez_enbas h2{
		color:var(--magie-lumiere-color) !important
	}

	&  ~ .fiche_rpc_prez_d hr {
		border-top:1px solid var(--magie-lumiere-color);
	}
	
	&  ~ .fiche_rpc_prez_d .kay_titre {
		background-color:var(--magie-lumiere-color);

	}
}

#kay_ombre:checked {
	&  ~ .fiche_rpc_g .fiche_rpc_g_title {
		color:var(--magie-ombre-color) !important
	}

	&  ~ .fiche_rpc_prez_d .fiche_rpc_prez_champs span{
		color:var(--magie-ombre-color) !important
	}

	&  ~ .fiche_rpc_prez_d h1{
		color:var(--magie-ombre-color) !important
	}

	&  ~ .fiche_rpc_prez_enbas span{
		color:var(--magie-ombre-color) !important
	}

	&  ~ .fiche_rpc_prez_enbas h2{
		color:var(--magie-ombre-color) !important
	}

	&  ~ .fiche_rpc_prez_d hr {
		border-top:1px solid var(--magie-ombre-color);
	}
	
	&  ~ .fiche_rpc_prez_d .kay_titre {
		background-color:var(--magie-ombre-color);

	}
}

#kay_feu_divin:checked {
	&  ~ .fiche_rpc_g .fiche_rpc_g_title {
		color:var(--magie-feu_divin-color) !important
	}

	&  ~ .fiche_rpc_prez_d .fiche_rpc_prez_champs span{
		color:var(--magie-feu_divin-color) !important
	}

	&  ~ .fiche_rpc_prez_d h1{
		color:var(--magie-feu_divin-color) !important
	}

	&  ~ .fiche_rpc_prez_enbas span{
		color:var(--magie-feu_divin-color) !important
	}

	&  ~ .fiche_rpc_prez_enbas h2{
		color:var(--magie-feu_divin-color) !important
	}

	&  ~ .fiche_rpc_prez_d hr {
		border-top:1px solid var(--magie-feu_divin-color);
	}
	
	&  ~ .fiche_rpc_prez_d .kay_titre {
		background-color:var(--magie-feu_divin-color);

	}
}

#kay_ombre_givre:checked {
	&  ~ .fiche_rpc_g .fiche_rpc_g_title {
		color:var(--magie-ombre_givre-color) !important
	}

	&  ~ .fiche_rpc_prez_d .fiche_rpc_prez_champs span{
		color:var(--magie-ombre_givre-color) !important
	}

	&  ~ .fiche_rpc_prez_d h1{
		color:var(--magie-ombre_givre-color) !important
	}

	&  ~ .fiche_rpc_prez_enbas span{
		color:var(--magie-ombre_givre-color) !important
	}

	&  ~ .fiche_rpc_prez_enbas h2{
		color:var(--magie-ombre_givre-color) !important
	}

	&  ~ .fiche_rpc_prez_d hr {
		border-top:1px solid var(--magie-ombre_givre-color);
	}
	
	&  ~ .fiche_rpc_prez_d .kay_titre {
		background-color:var(--magie-ombre_givre-color);

	}
}
