:root {
    --primary-text-color: rgb(107, 76, 45);
    --secondary-text-color: #282828;
    --tertiary-text-color: sandybrown;
    --quarter-text-color: darkred;
    --clear-text-color: #ffffff;
    --primary-font: 'Meddon', sans-serif;
    --secondary-font: 'Intel One Mono', monospace;
    --tertiary-font: 'Rouge Script', cursive;
    --vignette-termine-color: darkgreen;
    --vignette-encours-color: indianred;
    --vignette-archive-color: royalblue;
    --vignette-aprevoir-color: #212122;
    --vignette--color_reike: #755296;
    --vignette--color_repu: #32548F;
    --vignette--color_autre: #963A3A;

}

.woa_kay_conteneur {
    background-image: url(./images/papyrus.png);
    border-radius: 5px;
    padding: 20px 0px;
    color: var(--secondary-text-color);
}

.woa_kay_main_title {
    font-family: var(--primary-font);
    font-size: 2em;
    line-height: 1em;
    margin: 20px 0px;
    color: var(--quarter-text-color);
    text-align: center;


    & span {
        font-family: var(--secondary-font);
        font-size: 0.5em;
        color: var(--secondary-text-color);
    }
}

.woa_kay_tabonglets {
    margin-bottom: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.woa_kay_input {
    display: none;
}

.woa_kay_input + .woa_kay_label_content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--secondary-font);
    font-weight: bold;
    padding: 5px 30px;

    & .woa_kay_label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:0px 10px;
        margin:0px;
        color: var(--quarter-text-color);    

        & span {
            align-self: flex-end;
        }
    }
}

.woa_kay_input:checked + .woa_kay_label_content {
    & .woa_kay_label {
        color: var(--secondary-text-color);
    }

    &:before {
        content: url(./images/feather-left.png);
    }

    &:after {
        content: url(./images/feather-right.png);
    }
}

.woa_kay_content {
    text-align:left;
    margin: 0px 20px;
    display:none;
}

.woa_kay_tabonglets:has(#woa_kay_tab1:checked)
    ~ .woa_kay_content1,
.woa_kay_tabonglets:has(#woa_kay_tab2:checked)
    ~ .woa_kay_content2,
.woa_kay_tabonglets:has(#woa_kay_tab3:checked)
    ~ .woa_kay_content3,
.woa_kay_tabonglets:has(#woa_kay_tab4:checked)
    ~ .woa_kay_content4 {
    display: block;
}

.woa_kay_content_titre {
    font-family: var(--primary-font);
    font-size: 2em;
    line-height: 1em;
    color: var(--quarter-text-color);
    display:flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary-text-color);
    margin-bottom: 10px;
    padding-left: 10px;
    gap:3px;

    & span {
        font-family: var(--secondary-font);
        font-size: 0.6em;
        color: var(--primary-text-color);
        padding-left: 30px;
        text-wrap-mode: nowrap;
    }
}

.woa_kay_texte {
    margin: 0px 10px 5px 10px;
    font-size: 1em;
    font-family: var(--secondary-font);
    line-height: 1.3em;
    text-align: justify;
    flex: 1;

    &.norp {
        padding-top:6px;
    }
}

.woa_kay_timeitem, .woa_kay_lienitem {
    margin: 20px;
    display:flex;
    justify-content: center;
    background: rgba(244, 164, 96, 0.4);
}

.woa_kay_content .woa_kay_lienitem:nth-child(odd) {
    flex-direction: row-reverse;
}

.woa_kay_timeitem_image, .woa_kay_lienitem_image {
    width: 70px;
    align-self: stretch;
    background:var(--primary-text-color);
    border-radius: 5px 0px 0px 5px;
    overflow:hidden;
    display:flex;

    &:before {
        content: "";
        display: block;
        font-family: var(--secondary-font);
        writing-mode: vertical-rl;
        text-orientation: upright;
        text-transform: uppercase;
        text-align: center;
        width:20px;
        padding-left:2px;
        padding-right:0px;
        color:var(--clear-text-color);
    }

    & img {
        width: 50px;
        height:100%;
        display: block;
        mix-blend-mode: screen;
        object-position: 50% 50%;
        object-fit: cover;
    }
}

.woa_kay_lienitem:nth-child(odd) .woa_kay_lienitem_image {
    flex-direction: row-reverse;  
    border-radius: 0px 5px 5px 0px;
}

.lien_reike, .lien_repu, .lien_autre {
    width: 60px;
}

.lien_reike {
    &:before {
        content:"";
        background: var(--vignette--color_reike);
        width:10px;
    }
}

.lien_autre {
    &:before {
        content:"";
        background: var(--vignette--color_autre);
        width:10px;
    }
}

.lien_repu {
    &:before {
        content:"";
        background: var(--vignette--color_repu);
        width:10px;
    }
}

.rp_archive {
    &:before {
        content:"archivé";
        background: var(--vignette-archive-color);
    }
}

.rp_encours {
    &:before {
        content:"en cours";
        background: var(--vignette-encours-color);
    }
}

.rp_termine {
    &:before {
        content:"terminé";
        background: var(--vignette-termine-color);
    }
}

.rp_aprevoir {
    &:before {
        content:"à prévoir";
        background: var(--vignette-aprevoir-color);
    }
}

.woa_kay_timeitem_content, .woa_kay_lienitem_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid var(--primary-text-color);
    border-right: 1px solid var(--primary-text-color);
}

.woa_kay_lienitem:nth-child(odd) .woa_kay_lienitem_content {
    border-left: 1px solid var(--primary-text-color);
    border-right: 0px solid var(--primary-text-color);
}

.woa_kay_rp {
    font-family: var(--secondary-font);
    display:flex;
    align-items: center;
    margin-bottom:10px;
    background: var(--primary-text-color);
    padding:0px 10px;
}

.woa_kay_lienitem:nth-child(odd) .woa_kay_rp_titre {
    flex-direction: row-reverse;

    & a {
        flex-direction: column;
        align-items: flex-end;
    }
}

.woa_kay_rp_titre {
    color: var(--primary-text-color);
    font-size: 1.2em;
    text-transform: uppercase;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex:1;

    & span.woa_kay_date {
        font-family: var(--secondary-font);
        font-size: 0.8em;
        text-transform: none;
        color:var(--clear-text-color);
        margin-left: 10px;
        text-wrap-mode: nowrap;
    }

    & a {
        color: var(--tertiary-text-color);
        text-decoration: none;
        display:flex;
        flex-direction: column;

        &:hover {
            color: var(--quarter-text-color); 
        }


        & span {
            font-size: 0.8em;
            color:var(--clear-text-color);
            text-transform: none;
        }
    }
}

.woa_kay_modif {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--secondary-font);
    font-weight: bold;
    color: var(--secondary-text-color);

    &:before {
        content: url(./images/feather-left.png);
        margin-right: 10px;
    }

    &:after {
        content: url(./images/feather-right.png);
        margin-left: 10px;
    }
}

.woa_kay_separator {
    display: block;
    margin: auto;
    width: 200px;
}

.woa_kay_separator_mini {
    display: block;
    max-height: 20px;
    margin:20px auto;
}

.woa_kay_banner {
    border-top:1px solid var(--primary-text-color);
    border-bottom:1px solid var(--primary-text-color);
    background:var(--primary-text-color);

    & img {
        width: 600px;
        display: block;
        margin: 0 auto;
        mix-blend-mode: screen;
    }
}
