:root {
    --primary-text-color:#848686;
    --secondary-text-color:#828282;
    --primary-bg-color:#181819;
    --secondary-bg-color:#212122;
    --primary-border-color:#424243;
    --vignette-termine-color:darkgreen;
    --vignette-encours-color:indianred;
    --vignette-abandonne-color:royalblue;
    --vignette-aprevoir-color:#212122;
    --size: 100px;
    --color_reike: #5a5296;
    --color_repu: #28548f;
    --color_autre: #963a2e;
    --color_defaut: #ffffff;
}

.woa_valdyra_timeitem .woa_chrono_rp {
    display:flex;
    align-items:center;
    width:auto;
    border-bottom: 6px solid var(--primary-border-color);
    line-height:18px;
    margin-top:2px;
}

.woa_valdyra_timeitem a {
    color:var(--primary-bg-color);
}

.woa_valdyra_titre,
.woa_valdyra_titre_principal,
.woa_valdyra_titre_citation {
    clear:both;
    font:48px Norse;
    font-weight:bold;
    border-top:5px solid var(--primary-border-color);
    border-bottom:5px solid var(--primary-border-color);
    padding:5px;
    background:var(--primary-bg-color);
    color:var(--primary-text-color);
    padding-bottom:0
}

.woa_valdyra_titre_principal {
    text-align:center;
}

.woa_valdyra_titre_citation {
    text-align: center;
    color:var(--secondary-text-color);
    font: 18px Amatic SC;
    font-weight:700;
    padding:5px;
}

.woa_chrono_texte, .woa_newchrono_texte {
    width:auto;
    font: 18px Amatic SC;
    font-weight:700;
    color: var(--secondary-text-color);
    text-align: justify;
    margin: 10px 0px 15px;
}

.woa_valdyra_vignette_rouge,
.woa_valdyra_vignette_vert,
.woa_valdyra_vignette_bleu,
.woa_valdyra_vignette_gris {
    font: 14px Norse;
    font-weight:bold;
    color:white;
    padding:2px 6px 0px 6px;
    border-radius:2px;
    margin-left:3px;
    margin-right:5px;
    min-width:65px;
    text-align:center;
    align-self:flex-start;
    margin-top:2px;
}

.woa_valdyra_vignette_rouge {
    background:var(--vignette-encours-color);
}

.woa_valdyra_vignette_vert {
    background:var(--vignette-termine-color);
}

.woa_valdyra_vignette_bleu {
    background:var(--vignette-abandonne-color);
}

.woa_valdyra_vignette_gris {
    background:var(--vignette-aprevoir-color);
}

.woa_valdyra_norp {
    padding-left:20px;
}

.woa_valdyra_chrono_input, .woa_valdyra_newchrono_input {
    display:none;
}

.woa_valdyra_chrono_input + .woa_valdyra_chrono_label, .woa_valdyra_newchrono_input + .woa_valdyra_newchrono_label {
    display: inline-block;
    font:20px Norse;
    font-weight:bold;
    background:var(--primary-bg-color);
    color:var(--primary-text-color);
    padding:5px 10px;
}

.woa_valdyra_chrono_input:checked + .woa_valdyra_chrono_label, .woa_valdyra_newchrono_input:checked + .woa_valdyra_newchrono_label {
    background:var(--primary-text-color);
    color:var(--primary-bg-color);
    padding:5px 10px;
    border:3px solid var(--primary-bg-color);
}

.woa_valdyra_chrono_input ~ .woa_valdyra_chrono_tab, .woa_valdyra_newchrono_input ~ .woa_valdyra_newchrono_tab {
    display:none;text-align:left;
}

#woa_valdyra_chrono_tab1:checked ~ .woa_valdyra_chrono_tab.woa_valdyra_chrono_content1,
#woa_valdyra_chrono_tab2:checked ~ .woa_valdyra_chrono_tab.woa_valdyra_chrono_content2,
#woa_valdyra_chrono_tab3:checked ~ .woa_valdyra_chrono_tab.woa_valdyra_chrono_content3,
#woa_valdyra_chrono_tab4:checked ~ .woa_valdyra_chrono_tab.woa_valdyra_chrono_content4,
#woa_valdyra_newchrono_tab1:checked ~ .woa_valdyra_newchrono_tab.woa_valdyra_newchrono_content1,
#woa_valdyra_newchrono_tab2:checked ~ .woa_valdyra_newchrono_tab.woa_valdyra_newchrono_content2,
#woa_valdyra_newchrono_tab3:checked ~ .woa_valdyra_newchrono_tab.woa_valdyra_newchrono_content3,
#woa_valdyra_newchrono_tab4:checked ~ .woa_valdyra_newchrono_tab.woa_valdyra_newchrono_content4,
#woa_valdyra_newchrono_tab5:checked ~ .woa_valdyra_newchrono_tab.woa_valdyra_newchrono_content5,
#woa_valdyra_newchrono_tab6:checked ~ .woa_valdyra_newchrono_tab.woa_valdyra_newchrono_content6 {
    display: block;
}

.woa_valdyra_chrono_tabonglets, .woa_valdyra_newchrono_tabonglets {
    text-align:center;
}

.woa_valdyra_timecontainer {
    width: 100%;
    margin: 0 auto;
    padding-left:20px;
    max-height:500px;
    overflow:auto;
}

.woa_valdyra_timeitem {
    padding: 10px 30px;
    position: relative;
    color: var(--primary-border-color);
    border-left: 2px solid var(--primary-border-color);
}

.woa_valdyra_timeitem::after {
    width: 15px;
    height: 15px;
    display: block;
    top: 16px;
    position: absolute;
    left: -8px;
    border-radius: 15px;
    content: '';
    border: 2px solid var(--primary-border-color);
    background: white;
}

.woa_valdyra_timeitem_rouge::after {
    background:var(--vignette-encours-color);
}

.woa_valdyra_timeitem_vert::after {
    background:var(--vignette-termine-color);
}

.woa_chrono_titre, .woa_newchrono_titre {
    font: 45px Norse;
    font-weight:bold;
    background: -webkit-linear-gradient(180deg, var(--primary-text-color), var(--secondary-text-color));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.woa_chrono_soustitre, .woa_newchrono_soustitre {
    font: 15px Norse;
    font-weight:bold;
    color: var(--secondary-text-color);
    text-align: center;
    line-height: 10px;
}

.woa_ava_modif {
    font: 14px Norse;
    font-weight:bold;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
    text-align: center;
    padding: 5px;
}

.woa_chrono_rp, .woa_newchrono_rp {
    font: 20px Norse;
    font-weight:bold;
    color: var(--primary-text-color);
}

.woa_chrono_rp a, .woa_newchrono_rp a {
    font: 20px Norse;
    font-weight:bold;
    color: var(--primary-text-color);
}

.woa_valdyra_banner img {
    width:100%;
}

.woa_line {
    background:var(--primary-border-color);
    height:5px;
    margin:30px 0px;
}

/* ------ */

.woa_valdyra_lienscontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: calc(var(--size)/2);
}

.gallery {
    --size: 100px;
    display: grid;
    grid-template-columns: repeat(6, var(--size));
    grid-auto-rows: var(--size);
    margin-bottom: var(--size);
    place-items: start center;
    gap: 5px;

    &:has(:hover) div:not(:hover),
    &:has(:focus) div:not(:focus) {
        filter: brightness(.5) contrast(.5);
    }

    & div.gallery-item {
        overflow: hidden;
        width: var(--size);
        height: var(--size);
        transform: scale(1.4) rotate(45deg);
        transition: transform 0.25s, filter 0.75s, width 0s, margin-left 0s;
        grid-column: auto / span 2;
        border-radius: 5px;
        margin-left:0px;
        display:flex;

        &:nth-child(5n - 1) {
            grid-column: 2 / span 2;
        }

        &:hover,
        &:focus {
            width: calc(var(--size) + 200px);
            transform: scale(2) rotate(0deg);
            z-index: 2;
            margin-left:399px;
            transition: transform 0.25s, filter 0.25s, width 0.75s, margin-left 0.75s;

            & img {
                transform: scale(1.5) rotate(0deg);
                transition: transform 0.25s;
            }
        }

        &:focus {
            outline: 1px dashed #000;
            outline-offset: -5px;
        }

        & img {
            position:relative;
            width: calc(var(--size));
            height: calc(var(--size));
            transform: scale(1.5) rotate(-45deg);
            transition: transform 0.25s;
        }

        & div.gallery-perso {
            background-color:#282828;
            z-index: 1;
            width:200px;
        }

        & div.gallery-titre {
            display:flex;
            justify-content:space-between;
            align-items:flex-end;
            padding:5px;
        }
        
        & div.gallery-nom {
            font-family:Norse;
            font-size:16px;
            font-weight:bold;
        }

        & div.gallery-lien {
            font-family:Norse;
            font-size:7px;
            font-weight:bold;
            font-style: italic;
            color:var(--primary-text-color);
        }

        & div.gallery-desc {
            clear:both;
            font-family:Amatic SC;
            font-size:9px;
            font-weight:bold;
            line-height: 10px;
            color:var(--primary-text-color);
            margin:0px 5px;
            padding:5px 0px;
            height:60px;
            overflow-y:auto;
            /*border-top:1px solid var(--primary-text-color);*/
        }
    }
}

.reike {
    border: 2px solid var(--color_reike);

    & div.gallery-nom {
        color:var(--color_reike);
    }

    & div.gallery-desc {
        border-top:1px solid var(--color_reike);
    }
}

.repu {
    border: 2px solid var(--color_repu);

    & div.gallery-nom {
        color:var(--color_repu);
    }

    & div.gallery-desc {
        border-top:1px solid var(--color_repu);
    }
}

.autres {
    border: 2px solid var(--color_autre);

    & div.gallery-nom {
        color:var(--color_autre);
    }

    & div.gallery-desc {
        border-top:1px solid var(--color_autre);
    }
}
