:root {
	--val-diag-border-radius:40px;
	--val-diag-width-img:75px;
	/* defaut */
	--val-diag-color:#999999;
	--val-diag-color-darken:color-mix(in srgb, var(--val-diag-color), black 20%);
	--val-diag-color-lighten:color-mix(in srgb, var(--val-diag-color), white 20%);
	--val-diag-default-vignette:url("https://jerrycow33.github.io/woa/images/vignettes/default.png");	
	/* valdyra */
	--val-valdyra-color:steelblue;
	--val-valdyra-color-darken:color-mix(in srgb, var(--val-valdyra-color), black 20%);
	--val-valdyra-color-lighten:color-mix(in srgb, var(--val-valdyra-color), white 20%);
	--val-diag-valdyra-vignette:url("https://jerrycow33.github.io/woa/images/vignettes/valdyra2.png");
	/* bern */
	--val-bern-color:#fc0000;
	--val-bern-color-darken:color-mix(in srgb, var(--val-bern-color), black 20%);
	--val-bern-color-lighten:color-mix(in srgb, var(--val-bern-color), white 20%);
	--val-diag-bern-vignette:url("https://jerrycow33.github.io/woa/images/vignettes/bern2.png");
	/* davos */
	--val-davos-color:lightgreen;
	--val-davos-color-darken:color-mix(in srgb, var(--val-davos-color), black 20%);
	--val-davos-color-lighten:color-mix(in srgb, var(--val-davos-color), white 20%);
	--val-diag-davos-vignette:url("https://jerrycow33.github.io/woa/images/vignettes/davos2.png");
	/* kaylys */
	--val-kaylys-color:indianred;
	--val-kaylys-color-darken:color-mix(in srgb, var(--val-kaylys-color), black 20%);
	--val-kaylys-color-lighten:color-mix(in srgb, var(--val-kaylys-color), white 20%);
	--val-diag-kaylys-vignette:url("https://jerrycow33.github.io/woa/images/vignettes/kaylys2.png");
	/* grishna */
	--val-grishna-color:lightgrey;
	--val-grishna-color-darken:color-mix(in srgb, var(--val-grishna-color), black 20%);
	--val-grishna-color-lighten:color-mix(in srgb, var(--val-grishna-color), white 20%);
	--val-diag-grishna-vignette:url("https://jerrycow33.github.io/woa/images/vignettes/grishna2.png");
	/* leyra */
	--val-leyra-color:lightpink;
	--val-leyra-color-darken:color-mix(in srgb, var(--val-leyra-color), black 20%);
	--val-leyra-color-lighten:color-mix(in srgb, var(--val-leyra-color), white 20%);
	--val-diag-leyra-vignette:url("https://jerrycow33.github.io/woa/images/vignettes/leyra2.png");
	/* anya */
	--val-anya-color:purple;
	--val-anya-color-darken:color-mix(in srgb, var(--val-anya-color), black 20%);
	--val-anya-color-lighten:color-mix(in srgb, var(--val-anya-color), white 20%);
	--val-diag-anya-vignette:url("https://jerrycow33.github.io/woa/images/vignettes/anya2.png");
	/* rosenthal */
	--val-rosenthal-color:orange;
	--val-rosenthal-color-darken:color-mix(in srgb, var(--val-rosenthal-color), black 20%);
	--val-rosenthal-color-lighten:color-mix(in srgb, var(--val-rosenthal-color), white 20%);
	--val-diag-rosenthal-vignette:url("https://jerrycow33.github.io/woa/images/vignettes/rosenthal2.png");
	/* declan */
	--val-declan-color:salmon;
	--val-declan-color-darken:color-mix(in srgb, var(--val-declan-color), black 20%);
	--val-declan-color-lighten:color-mix(in srgb, var(--val-declan-color), white 20%);
	--val-diag-declan-vignette:url("https://jerrycow33.github.io/woa/images/vignettes/declan2.png");
	/* orihana */
	--val-orihana-color:#ffe082;
	--val-orihana-color-darken:color-mix(in srgb, var(--val-orihana-color), black 20%);
	--val-orihana-color-lighten:color-mix(in srgb, var(--val-orihana-color), white 20%);
	--val-diag-orihana-vignette:url("https://jerrycow33.github.io/woa/images/vignettes/orihana2.png");
	/* kay */
	--val-kay-color:indianred;
	--val-kay-color-darken:color-mix(in srgb, var(--val-valdyra-color), black 20%);
	--val-kay-color-lighten:color-mix(in srgb, var(--val-valdyra-color), white 20%);
	--val-diag-kay-vignette:url("https://jerrycow33.github.io/woa/images/vignettes/kay2.png");
	/* tor */
	--val-tor-color:darkred;
	--val-tor-color-darken:color-mix(in srgb, var(--val-tor-color), black 20%);
	--val-tor-color-lighten:color-mix(in srgb, var(--val-tor-color), white 20%);
	--val-diag-tor-vignette:url("https://jerrycow33.github.io/woa/images/vignettes/tor2.png");
	--val-diag-tor-masked-vignette:url("https://jerrycow33.github.io/woa/images/vignettes/tormasked2.png");
}

.valdyrarp_imgleft, .kayrp_imgleft {
	width:200px;
	float:left;
	margin-right:5px;
	margin-top:5px;
}

.valdyrarp_imgright, .kayrp_imgright {
	width:200px;
	float:right;
	margin-left:5px;
	margin-top:5px;
}

/* VALDYRA */
.valdyrarp_main {
	margin: 0px auto;
	background-color: #282828;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	text-align: justify;
	height: auto;
	color: #999999; 
}

.valdyrarp_ban {
	height:200px;
	/*background:url("https://zupimages.net/up/21/51/tx9h.png") no-repeat top left;*/
	background:url("https://cdn.midjourney.com/cb126726-2cae-4645-aefb-791556c6fe5c/0_0.png") no-repeat top;
    background-size: cover;
	font-size: 35px;
	color: steelblue;
	font-family: "Bebas Neue", serif;
	font-weight: bold;
	padding-right: 50px;
	display:flex;
	justify-content:flex-end;
	align-items:center;
	line-height:30px;
	text-align:right;
	text-shadow: 1px 1px 2px black;
}

.valdyrarp_feat {
	border-top:2px solid steelblue;
	color: #cccccc;
	font-size: 20px;
	font-family: 'Bebas Neue', serif;
	text-shadow: 1px 1px 2px black;
}

.valdyrarp_text {
	padding:20px;
	border-top: 9px solid steelblue;
	border-bottom: 9px solid steelblue;	
}

.valdyrarp_foot {
	height:150px;
	/*background:url("https://zupimages.net/up/21/51/4vkj.png") no-repeat top right;*/
	background:url("https://cdn.midjourney.com/b1a74c6d-d3c7-4bcb-92ec-86aeaed6c92b/0_3.png") no-repeat top;
    background-size: cover;
}

/* KAY */
.kayrp_main {
	margin: 0px auto;
	background-color: #282828;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	text-align: justify;
	height: auto;
	color: #999999; 
}

.kayrp_ban {
	height:250px;
	background:url("https://cdn.midjourney.com/dd83286e-7cde-4822-8006-702abdd7c4be/0_1.png") no-repeat top;
    background-size: cover;
	font-size: 35px;
	color: indianred;
	font-family: "Bebas Neue", serif;
	font-weight: bold;
	padding-left: 50px;
	display:flex;
	justify-content:flex-start;
	align-items:center;
	line-height:30px;
	text-align:left;
	text-shadow: 1px 1px 2px black;
}

.kayrp_titre {
	width:50%;
}

.kayrp_feat {
	border-top:2px solid indianred;
	color: #cccccc;
	font-size: 20px;
	font-family: 'Bebas Neue', serif;
	text-shadow: 1px 1px 2px black;
}

.kayrp_text {
	padding:20px;
	border-top: 9px solid indianred;
	border-bottom: 9px solid indianred;	
}

.kayrp_foot {
	height:250px;
	background:url("https://cdn.midjourney.com/d1a23cb1-856b-4c21-a101-04016af88c7e/0_3.png") no-repeat top;
    background-size: cover;
}

/* TOR */
.torrp_wrapper {
	margin: 0px auto;
	background-color: #181818;
	display: grid;
	grid-template-columns: 250px 1fr;
	grid-template-rows: 200px 550px 200px;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.torrp_vbanner {
	grid-area: 1 / 1 / 3 / 2;
	background:url(https://cdn.midjourney.com/d6bff7e6-4dff-4086-b28e-8ae05c2ba81a/0_3.png);
	background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: top center;
}
.torrp_hbanner {
	grid-area: 1 / 2 / 2 / 4;
	margin-left:5px;
	padding:0px 15px;
	border-top:5px solid var(--val-tor-color);
	border-bottom:5px solid var(--val-tor-color);
	background:url(https://cdn.midjourney.com/19c403c9-824f-477d-8d1f-eb1354214450/0_3.png);
	background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: top center;
	transform:scaleX(-1);
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;

	& * {
		transform:scaleX(-1);
	}
}

.torrp_title {
	color: var(--val-tor-color);
	font-size: 30px;
	font-family: "Rubik Distressed", system-ui;
	text-shadow: 1px 1px 2px black;
	max-width:50%;
}

.torrp_feat {
	color: #cccccc;
	font-size: 12px;
	font-family: "Saira", sans-serif;
	text-shadow: 1px 1px 2px black;
	padding-left:20px;
	max-width:50%;
}

.torrp_main {
	grid-area: 2 / 2 / 3 / 4;
	overflow-y:scroll;
	padding:10px;
	font-family: "Barlow Condensed", sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #cccccc;
	font-weight:300;
	text-align: justify;
}

.torrp_footer {
	grid-area: 3 / 1 / 4 / 4;
	background:url(https://cdn.midjourney.com/e3525e26-076f-4550-88ef-5f40d35671e2/0_3.png);
	background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: top left;
	margin-top:5px;
}

/* DIALOGUES V2 */
.val_dial {
	min-height:calc(10px + var(--val-diag-width-img));
	border-radius:var(--val-diag-border-radius) 10px 10px var(--val-diag-border-radius);
	margin:20px 20px 0px 20px;
	padding:5px;
	border:1px solid var(--val-diag-color);
	padding-left:calc(15px + var(--val-diag-width-img));
	font-weight:bold;

	& i {
		color:var(--val-diag-color);
		font-weight:normal;
	}

	& c {
		display:inline-block;
  		transform: translateY(-1px);
  		animation-name: wiggleWiggle;
  		animation-duration: 0.15s;
  		animation-iteration-count: infinite;
  		text-shadow: 1px 1px var(--val-diag-color-darken);
	}

	& c:nth-child(odd) {
  		animation-direction:reverse;
	}

	&::before {
		content:"-";
		color:var(--val-diag-color);
		text-transform: uppercase;
		display:block;
		font-weight:600;
		font-style: italic;
		margin-bottom:3px;		
		padding-bottom:3px;	
		border-bottom:1px solid var(--val-diag-color);	
	}
}

.default,
.valdyra,
.kay,
.tor,
.tormasked,
.davos,
.bern,
.grishna,
.kaylys,
.leyra,
.declan,
.anya,
.rosenthal,
.orihana {
	background-position: 5px 5px;
	background-size: var(--val-diag-width-img) var(--val-diag-width-img);
	background-repeat: no-repeat;
	font-weight:normal;
}

.default {
	background-image: var(--val-diag-default-vignette);
	font-weight:bold;
}

.valdyra {
	border-color: var(--val-valdyra-color);
	background-image: var(--val-diag-valdyra-vignette);
	color:var(--val-valdyra-color);

	& c {
 		text-shadow: 1px 1px var(--val-valdyra-color-darken);
	}
		
	&::before {
		content: "Valdyra";
	}
}

.kay {
	border-color: var(--val-kay-color);
	background-image: var(--val-diag-kay-vignette);
	color:var(--val-kay-color);

	& c {
 		text-shadow: 1px 1px var(--val-kay-color-darken);
	}
		
	&::before {
		content: "Kay";
	}
}

.tor, .tormasked {
	border-color: var(--val-tor-color);
	background-image: var(--val-diag-tor-vignette);
	color:var(--val-tor-color);
	border-radius:0px;
	border-width:1px 0px;
	border-style:dotted;
	margin:10px 0px;

	& c {
 		text-shadow: 1px 1px var(--val-tor-color-darken);
	}
		
	&::before {
		content: "Tor";
	}
}

.tormasked {
	background-image: var(--val-diag-tor-masked-vignette);
}


.davos {
	border-color: var(--val-davos-color);
	background-image: var(--val-diag-davos-vignette);
	color:var(--val-davos-color);

	& c {
 		text-shadow: 1px 1px var(--val-davos-color-darken);
	}
		
	&::before {
		content: "Davos";
	}
}

.bern {
	border-color: var(--val-bern-color);
	background-image: var(--val-diag-bern-vignette);
	color:var(--val-bern-color);

	& c {
 		text-shadow: 1px 1px var(--val-bern-color-darken);
	}
	
	&::before {
		content: "Bern";
	}
}

.grishna {
	border-color: var(--val-grishna-color);
	background-image: var(--val-diag-grishna-vignette);
	color:var(--val-grishna-color);

	& c {
 		text-shadow: 1px 1px var(--val-grishna-color-darken);
	}
	
	&::before {
		content: "Grishna";
	}
}

.kaylys {
	border-color: var(--val-kaylys-color);
	background-image: var(--val-diag-kaylys-vignette);
	color:var(--val-kaylys-color);

	& c {
 		text-shadow: 1px 1px var(--val-kaylys-color-darken);
	}
	
	&::before {
		content: "Kaylys";
	}
}

.leyra {
	border-color: var(--val-leyra-color);
	background-image: var(--val-diag-leyra-vignette);
	color:var(--val-leyra-color);

	& c {
 		text-shadow: 1px 1px var(--val-leyra-color-darken);
	}
	
	&::before {
		content: "Leyra";
	}
}

.declan {
	border-color: var(--val-declan-color);
	background-image: var(--val-diag-declan-vignette);
	color:var(--val-declan-color);

	& c {
 		text-shadow: 1px 1px var(--val-declan-color-darken);
	}
	
	&::before {
		content: "Declan";
	}
}

.anya {
	border-color: var(--val-anya-color);
	background-image: var(--val-diag-anya-vignette);
	color:var(--val-anya-color);

	& c {
 		text-shadow: 1px 1px var(--val-anya-color-darken);
	}
	
	&::before {
		content: "Anya";
	}
}

.rosenthal {
	border-color: var(--val-rosenthal-color);
	background-image: var(--val-diag-rosenthal-vignette);
	color:var(--val-rosenthal-color);

	& c {
 		text-shadow: 1px 1px var(--val-rosenthal-color-darken);
	}
	
	&::before {
		content: "Rosenthal";
	}
}

.orihana {
	border-color: var(--val-orihana-color);
	background-image: var(--val-diag-orihana-vignette);
	color:var(--val-orihana-color);

	& c {
 		text-shadow: 1px 1px var(--val-orihana-color-darken);
	}
	
	&::before {
		content: "Ori'Hana";
	}
}

@keyframes wiggleWiggle {
  0% {
    transform: translate(0, 0px);
  }
  
  25% {
    transform: translate(0, -1px);
  }
  
  50% {
    transform: translate(0, 0px);
  }
  
  75% {
    transform: translate(0, 1px);
  } 
  
  100% {
    transform: translate(0, 0px);
  }
}

