:root {
	--diag-color:#999999;
	--grishna-color:lightgrey;
	--valdyra-color:steelblue;
	--bern-color:#fc0000;
	--davos-color:lightgreen;
	--kaylys-color:indianred;
	--leyra-color:lightpink;
	--declan-color:salmon;
	--anya-color:purple;
	--diag-border-radius:40px;
	--diag-width-img:75px;
	--diag-valdyra-vignette:url("https://jerrycow33.github.io/woa/images/vignettes/valdyra2.png");
	--diag-davos-vignette:url("https://jerrycow33.github.io/woa/images/vignettes/davos2.png");
	--diag-declan-vignette:url("https://jerrycow33.github.io/woa/images/vignettes/declan2.png");
	--diag-bern-vignette:url("https://jerrycow33.github.io/woa/images/vignettes/bern2.png");
	--diag-kaylys-vignette:url("https://jerrycow33.github.io/woa/images/vignettes/kaylys2.png");
	--diag-leyra-vignette:url("https://jerrycow33.github.io/woa/images/vignettes/leyra2.png");
	--diag-anya-vignette:url("https://jerrycow33.github.io/woa/images/vignettes/anya2.png");
}

.valdyrarp_main {
	margin: 0px auto;
	background-color: #282828;
	font-family: "Open Sans", sans-serif;
	border-top: 9px solid steelblue;
	border-bottom: 9px solid steelblue;
	font-size: 15px;
	text-align: justify;
	height: auto;
	color: #999999; 
}

.valdyrarp_ban {
	height:200px;
	background:url("https://zupimages.net/up/21/51/tx9h.png") no-repeat top left;
    background-size: cover;
	font-size: 35px;
	color: steelblue;
	font-family: "Bebas Neue", serif;
	font-weight: bold;
	padding-right: 50px;
	display:flex;
	justify-content:flex-end;
	align-items:center;
	line-height:30px;
	text-align:right;
}

.valdyrarp_feat {
	border-top:2px solid steelblue;
	color: #505252;
	font-size: 20px;
	font-family: 'Bebas Neue', serif;
}

.valdyrarp_text {
	padding:20px;
}

.valdyrarp_foot {
	height:150px;
	background:url("https://zupimages.net/up/21/51/4vkj.png") no-repeat top right;
    background-size: cover;
}

/* DIALOGUES V2 */

.val_dial {
	min-height:var(--diag-width-img);
	border-radius:var(--diag-border-radius) 10px 10px var(--diag-border-radius);
	margin:20px;
	padding:5px;
	border:1px solid var(--diag-color);
	padding-left:calc(15px + var(--diag-width-img));
	font-weight:bold;

	& i {
		color:var(--diag-color);
		font-weight:normal;
	}

	&::before {
		color:var(--diag-color);
		text-transform: uppercase;
		display:block;
		font-weight:600;
		font-style: italic;
		margin-bottom:3px;		
		padding-bottom:3px;	
		border-bottom:1px solid var(--diag-color);	
	}
}

.valdyra,
.davos,
.bern,
.grishna,
.kaylys,
.leyra,
.declan,
.anya {
	background-position: 5px 5px;
	background-size: var(--diag-width-img) var(--diag-width-img);
	background-repeat: no-repeat;
	font-weight:normal;
}

.valdyra {
	border-color: var(--valdyra-color);
	background-image: var(--diag-valdyra-vignette);
	color:var(--valdyra-color);
		
	&::before {
		content: "Valdyra";
	}
}

.davos {
	border-color: var(--davos-color);
	background-image: var(--diag-davos-vignette);
	color:var(--davos-color);
		
	&::before {
		content: "Davos";
	}
}

.bern {
	border-color: var(--bern-color);
	background-image: var(--diag-bern-vignette);
	color:var(--bern-color);
		
	&::before {
		content: "Bern";
	}
}

.grishna {
	border-color: var(--grishna-color);
	background-image: var(--diag-grishna-vignette);
	color:var(--grishna-color);
		
	&::before {
		content: "Grishna";
	}
}

.kaylys {
	border-color: var(--kaylys-color);
	background-image: var(--diag-kaylys-vignette);
	color:var(--kaylys-color);
		
	&::before {
		content: "Kaylys";
	}
}

.leyra {
	border-color: var(--leyra-color);
	background-image: var(--diag-leyra-vignette);
	color:var(--leyra-color);
		
	&::before {
		content: "Leyra";
	}
}

.declan {
	border-color: var(--declan-color);
	background-image: var(--diag-declan-vignette);
	color:var(--declan-color);
		
	&::before {
		content: "Declan";
	}
}

.anya {
	border-color: var(--anya-color);
	background-image: var(--diag-anya-vignette);
	color:var(--anya-color);
		
	&::before {
		content: "Anya";
	}
}
